.contact-section {
  padding: 60px 10%;
  background: #0d0d0d;
  color: #fff;
  font-family: Arial, sans-serif;
}

.contact-section h2 {
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  margin-bottom: 40px;
  color: #aaa;
}

.contact-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

/* Info Box */
.contact-info {
  flex: 1;
  min-width: 280px;
  max-width: 400px;
  background: #151515;
  padding: 25px;
  border-radius: 12px;
}

.contact-info h3 {
  margin-bottom: 15px;
  color: skyblue;
}

.contact-info p {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 12px 0;
  font-size: 0.95rem;
}

.contact-info i {
   color: skyblue;
}

/* Social Icons */
.social-icons {
  margin-top: 15px;
}
.social-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  border-radius: 50%;
  
  background: #1f1f1f;   /* ✅ Dark background */
  color: #00ffd5;        /* ✅ Icon color visible */

  border: 1px solid skyblue;
  transition: 0.3s ease;
  text-decoration: none;
  font-size: 16px;
}

.social-icons a:hover {
  background: black;
  color: #000;
  transform: scale(1.1);
}


/* Map */
.map-container {
  flex: 1;
  min-width: 280px;
  max-width: 500px;
}

.map-container iframe {
  width: 100%;
  height: 280px;
  border-radius: 12px;
  border: none;
}
